*DS_Store
*metadata*
./Program/EncSim
./Program/EurSim
./Program/EncPar
./Program/EurPar
*.o
*.swp
*.dvi
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.alg
*.loa
*.thm
*.nav
*.snm
*.vrb
.ipynb_checkpoints
*.pyc
